/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.6rem;
  /* font-size: 2.6rem; */
}

li,
button,
input,
label,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out; /*all = using transition to both font size and background*/
  /* animation: cloudAnimation 2s infinite; */
}

button:hover {
  background: #79889b;
}

/* Nav Section wit HERO ############################################################################################################## */

.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh; /*in order to we minimize the screen not smaller than 10vh = 10% */
  display: flex; /*becuase all content in the nav the header onely have one content that is nav but nav have h1 and ul and ul have li*/
  width: 90%; /*we used (%) becuase work with intire Screen not relative the section or div */
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem; /*= flex-grow = 1 , flex-shrink = 1 , flex-basis = 40rem*/
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 3 1 40rem; /*= flex-grow = 3   , flex-shrink = 1 , flex-basis = 40rem*/
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(icons/pexels-andrei-tanase-1271619.jpg);
  min-height: 90vh; /*to show the div 90% of the screen*/
  background-repeat: none; /*to not repeat image in the background...*/
  background-position: center;
  background-size: cover; /*to show the background like a cover in the back*/

  color: white;
  display: flex; /*before using any flex property we should change display to flex*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/*LOCATIONS SECTION ##################################################################################################*/
#locations {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(icons/pexels-taryn-elliott-3889865.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative; /*Bo away hamu Elementakany (Realative) wabasta bn bam Sectionawa nak Screenaka.*/
  overflow: hidden; /*Agar over flowy Shteky trr hata naw aw section yan diva awa dyar nabet*/
}

.locations-head {
  width: 90%; /* using % to dispay relateive the Srceen Size not a div size*/
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
.locations-head h3 {
  padding: 4rem 0rem;
  /* background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.cloud {
  position: absolute;
  top: 0;
  right: 0;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 20%;
  z-index: -1; /*bo away layer bkayna zher layareky trr*/
  opacity: 0.5;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/*BENEFITS SECTION ######################################################################################################*/
.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  min-height: 70vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /*Bo away katek Screen bchuk bwawa Responsiv bet*/
}
.card {
  flex: 1 1 25rem; /*grow , shirink , basies*/
  min-height: 40vh;
  margin: 2rem 5rem;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  /*down shado x   y    blure                   , right shadwo x  y blure  */
}

.card-icon {
  background: #27394e;
}
.cards img {
  width: 100px;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 3rem;
}
/*CONTACT US SECTION ######################################################################################################*/
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(icons/pexels-krish-chaitu-731423.jpg);
  background-repeat: none;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background-color: rgba(19, 28, 39, 0.8);
  width: 60%;
  border-radius: 20px;
  color: white;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 2rem;
  text-align: center;
}
.form-wrapper label {
  padding: 0rem 2rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 6em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 2rem;
}

/*FOOTER SECTION ##########################################################################################################*/
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
.footer-wrapper img {
  width: 30px;
}
.footer-wrapper h5 {
  flex: 1 1 40rem;
}
.footer-wrapper ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-between;
}
/*MEDIA QUERY #############################################################################################################*/
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center; /*Agar le Dive Sarakey flex-wrap: wrap; nakayn awa Responsive nabet*/
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    z-index: -1; /*Bo away la shashay bchuck hawrakan bkawna Psht nusinakanawa*/
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.8);
  }
  .form-wrapper {
    width: 90%;
  }
  footer {
    text-align: center; /*Agar le Dive Sarakey flex-wrap: wrap; nakayn awa Responsive nabet*/
  }
  footer h5 {
    padding-bottom: 2rem;
  }
}
